body {
    height : 100vh;
    background : linear-gradient(to bottom, rgb(238, 201, 238), rgb(146, 206, 183),rgb(178, 178, 236),rgb(146, 206, 183),rgb(187, 127, 187));
}

.heading {
    height : 100px;
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    color:rgb(99, 8, 8);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    background: linear-gradient(to top, rgb(146, 157, 224),rgb(216, 91, 118));
    border: 1px solid #888;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.item {
    font-size: 1.5em;
    font-weight: bold;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

.quantity {
    font-size: 1.5em;
    font-weight: bold;
}

.subtotal {
    font-size: 1.5em;
    font-weight: bold;
}